/*Universal styles*/

html{
    font-size: 14px;
}

body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
}

h2{
    font-size: 1.7rem;
    font-weight: bold;
    color: #399bd1;
}

h3{
    font-size: 1.3rem;
    font-weight: bold;
}

.container{
    width: 100%;
    margin-left: 30px;
    margin-right: 40px;
}

.container-fluid{
    width: 100%;
}

img{
    width: 100%;
}

.image-container{
    overflow: hidden;
}

/*Navigation bar*/

.navbar {
    font-size: 1.1rem;
    font-weight: 600;
  }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}
/*Jumbotron*/

.jumbotron {
    width: 100%;
    height: auto;
    padding-top: 10rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.background-bike{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-8/Jumpstart/resources/images/jumbotron-bike.jpg");
}

.jumbotron h1{
    font-family: "Monoton";
    font-size: 7.1rem;
    padding-top: 11.85rem;
}

.jumbotron p{
    max-width: 51.3rem;
    margin: auto;
}

.btn-primary{
    width: 11.4rem;
    height: 3.6rem;
    background-color: #399bd1;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin-top: 2.8rem;
    margin-bottom: 11.85rem;
}

.btn-primary:hover{
    box-shadow: 0 0 12px rgba(0,0,0,0.9);
}

.btn-primary:active{
    box-shadow: 0 0 0px rgba(0,0,0,0.5);
}

.background-beer{
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-8/Jumpstart/resources/images/jumbotron-beer.jpg');
}

.background-flowers{
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-8/Jumpstart/resources/images/jumbotron-flowers.jpg');
}

.background-duffel{
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-8/Jumpstart/resources/images/jumbotron-duffel.jpg');
}

@media only screen and (max-width: 767px){
    .jumbotron h1{
        font-size: 5.7rem;
    }
}

@media only screen and (max-width: 550px){
    .jumbotron h1{
        font-size: 4rem;
    }
}


/*Featured project*/

.featured-project .image-container{
    margin-top: 20px;
    height: 19rem;
}

.blue{
    color: #399bd1;
}

/*Projects*/

.project .image-container{
    height: 13.5rem;
    overflow: hidden;
}

.projects{
    margin-left: -15px;
    margin-right: -15px;
}

/*footer*/

.foot{
    width:100%;
    height: auto;
    padding: 5.2rem 0;
    background-color: #f3f3f3;
    text-align: center;
    margin-top: 5.85rem;
    margin-right: 0px;
    margin-left: 0px;
}

.foot p{
    max-width: 42rem;
    margin: auto;
}

strong{
    font-size: 2.5rem;
    font-weight: bold;
}

.btn2{
    width: 11.4rem;
    height: 3.6rem;
    background-color: #399bd1;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin-top: 2.8rem;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media only screen and (max-width: 767px){
    .strong{
        font-size: 2rem;
    }

    .foot p{
        max-width: 80%;
    }
}

@media only screen and (max-width: 550px){
    .strong{
        font-size: 1.5rem;
    }

    .foot p{
        max-width: 80%;
    }
}

/*Image transformations*/
.image-container {
    overflow: hidden;
  }
  
  .image-container img {
    opacity: 0.7;
    transition: transform .5s,
                opacity .5s;
    transition: transform .5s,
                opacity .5s;
  }
  
  .image-container img:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
  